@import '../global/variables'

.container-footer
    height: 150px
    margin-top: 3em
    background-color: #1D1D1D
    display: grid
    place-items: center
    .content-footer
        cursor: pointer
        font-weight: bold
        font-family: $font-Montserrat
        display: flex
        flex-direction: column 
        transition: 0.3s
        img
            height: 32px
    
        &:hover
            transform: scale(1.1)

        

