@import '../global/variables'
.container-habilidades
    padding: 0 25%
    margin-bottom: 80px
    h1
        font-family: $font-Montserrat
        font-weight: bold
        text-align: center
        margin-bottom: 3.5em
        span
            letter-spacing: 5px
            font-family: $font-Montserrat
            font-weight: bold
            padding: 15px 30px
            border: 5px solid #000000 
    
    // global card
    .card-habilidade
        img
            height: 50px
        p
            margin-top: 5px
            font-family: $font-Montserrat
            color: #1D1D1D
            font-weight: 600
    
    // atual
    .container-usando
        h2
            font-family: $font-Montserrat
            margin-bottom: 35px
            letter-spacing: 3.5px
        .habilidades-grid
            display: grid
            grid-template-columns: repeat(4, 1fr)
            img
                margin-top: 35px

    // Estudando
    .container-aprendendo
        margin-top: 35px
        h2
            font-family: $font-Montserrat
            letter-spacing: 3.5px
            margin-bottom: 35px
        .habilidades-grid
            display: grid
            grid-template-columns: repeat(4, 1fr)
            img
                margin-top: 35px

    // outros
    .container-outros
        margin-top: 35px
        h2
            font-family: $font-Montserrat
            margin-bottom: 35px
            letter-spacing: 3.5px
        .habilidades-grid
            display: grid
            grid-template-columns: repeat(4, 1fr)
            img
                margin-top: 35px

// mobile
@media (max-width: 768px)
    .container-habilidades
        padding: 0 !important
        border: 1px solid border
        .card-habilidade
            img
             height: 60px
            p
                margin-top: 5px
            
    .container-usando 
        h2
            margin-bottom: 10px !important
            letter-spacing: 2px !important
        .habilidades-grid
            display: grid
            place-items: center
            grid-template-columns: repeat(2, 1fr) !important
    
    .container-aprendendo
        h2
            margin-bottom: 10px !important
            letter-spacing: 2px !important
        .habilidades-grid
            display: grid
            place-items: center
            grid-template-columns: repeat(2, 1fr) !important
            
    
    .container-outros
        h2
            margin-bottom: 10px !important
            letter-spacing: 2px !important
        .habilidades-grid
            display: grid
            place-items: center
            grid-template-columns: repeat(2, 1fr) !important
            

    