@import '../global/variables'

.Sobre-mim
    border: 1px solid red

    .container-alan
        margin: 0 5%
        padding: 4em 5em 0 5em
        .title
            display: flex
            align-items: center
            justify-content: center
            h1
                letter-spacing: 5px
                font-family: $font-Montserrat
                font-weight: bold
                padding: 15px 30px
                border: 5px solid #000000 
        p
            transition: opacity 0.3s ease-in-out
            margin: 45px 
            font-family: $font-Open-Sans
        .container-btn
 
            display: flex
            justify-content: center
            button
                background-color: transparent
                cursor: pointer
                font-weight: bold
                color: #000000 
                font-family: $font-Montserrat
                border: none
                border-left: 2px solid #000000 
                border-right: 2px solid #000000 
                padding: 5px 25px
                margin-top: 1.5em
                transition: all 0.3s ease

            button:hover
                letter-spacing: 2.5px

    .divisoria
        margin: 80px 0
        width: 100%
        display: flex
        justify-content: center

    .conhecimentos
        margin: 0 10%
        border: 1px solid yellow
        display: grid
        grid-template-columns: repeat(2, 1fr)
        
        
        .card
            position: relative
            color: #ffffff
            margin: 35px
            overflow: hidden
            border: 1px solid blue

            p
                font-size: 13px
                color: #000000
                font-family: $font-Open-Sans
                margin: 10px 0 5px 45px
                position: relative
                z-index: 2
            h3
                margin: 25px 0 5px 45px
                letter-spacing: 4px
                color: #000000
                font-family: $font-Montserrat
                position: relative
                z-index: 2

            .icone-fundo
                border: 1px solid red
                position: absolute
                left: 1px
                top: 0
                bottom: 0
                z-index: 1
        
        
       
        
        
       
       
            
        
              
    
                
